<%# default cards for index page %>

<div class="container">
  <h1>List of Categories</h1>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
  <% @courasel = 0 %>
    <% @categories.each do |category| %>
    <% if @courasel == 0 %>
      <div class="carousel-item active">
    <% else %>
      <div class="carousel-item">
    <% end %>
    <% @courasel = @courasel + 1 %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to category.name, category_path(category) %>
        </div>
      </div>
    <% end%>

  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

      <div class = "mt-4">
        <%= link_to "add category", new_category_path, class: "btn btn-gradient"  %>
      </div>

</div>
