<div class="banner banner-categories">
  <div class="banner-text">
    <h1>Cookbook</h1>
    <p>Save your favourite recipes</p>
  </div>
</div>

<% if @categories.count > 5 %>
  <%= render "shared/cardList"%>
  <% else %>
  <%= render "shared/courasel"%>
<% end %>
