<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<div class="container">
  <% @categories.each do |category| %>
    <div class="card">
    <%= link_to category.name, category_path(category) %>
    </div>
  <% end%>
</div>
<br>
<br>
<br>

 <%= link_to "add category", new_category_path %>
